.header {
  height: 95vh;
  margin: auto;
  /* background-size: cover; */
}

.text-content {
  font-family: 'forum', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem 2rem;
  color: white;

  font-size: 4rem;
}

.content {
  height: 200rem;
}
