* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgba(246, 246, 246, 0.75);
  --main-primary-color: rgb(192, 207, 180);
  --main-secondary-color: #f7e7cf;

  --main-text-color: #474747;
  --heading-font-size: 4rem;
}

html {
  font-size: 62.5%; /* 1rem === 10px */
  background-color: var(--main-bg-color);
}

h1 {
  font-size: 3rem;
}
