.storyContainer main {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: auto repeat(6, 1fr) auto;
  /* grid-template-rows: 40rem 75rem 40rem; */
  grid-auto-rows: minmax(25rem, auto);
  padding: 4rem 0;
  place-items: center;
  /* gap: 2rem; */
}

.storyContent {
  grid-column: 2/8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* align-self: center; */
  gap: 1rem;

  max-width: 50rem;

  /* text-align: left; */
}

h2 {
  font-family: 'Forum', Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

.storyContent p {
  font-size: 1.8rem;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  width: calc(75% - 1rem);
}

.sidebarImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebarImageLeft {
  grid-column: 1;
  grid-row: 1 / span 4;
}

.sidebarImageRight {
  grid-column: -1;
  grid-row: 1 / span 4;
}

.sidebarImg {
  height: 100%;
  width: 30rem;
}

.storyImagesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100rem;

  position: relative;
  grid-column: 2/9;
  grid-row: 2;
}

.storyImageSingle {
  /* position: absolute; */
  position: relative;
  border-radius: 0.4rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  height: 25rem;
}

.storyImageSingleBottom {
  /* position: absolute; */
  position: relative;
  border-radius: 0.4rem;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
  height: 30rem;
}

.img1 {
  top: 3rem;
  left: 3rem;
}

.img2 {
  bottom: 0;
  right: 0;
}

.img3 {
  top: -2rem;
  left: -3rem;
}

.img4 {
  right: 4rem;
}

.img5 {
  bottom: 0;
  right: 2rem;
}

.img6 {
}

.img7 {
}

.img8 {
  top: 0;
  left: 3rem;
}

.img9 {
  bottom: 0;
  right: 1rem;
}

.img10 {
}

.storyBtnLink {
  border-bottom: 2px solid var(--main-secondary-color);
  text-align: center;
  align-self: center;
  grid-column: 3/7;
  padding: 1rem 2rem;
  height: 10rem;
  width: 20rem;
  grid-row: 5;
  font-family: 'Forum', Arial, Helvetica, sans-serif;
  color: black;
  text-decoration: none;
  width: auto;
  height: auto;
  display: block;
  font-size: 3rem;
  transition: 0.2s all;
}

.storyBtnLink:hover {
  /* transform: scale(1.05); */
  background-color: var(--main-secondary-color);
  border-radius: 1rem;

  color: white;
  animation: 0.8s infinite animateBtn;
}

@keyframes animateBtn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@media (max-width: 1300px) {
  .storyImageSingle {
    height: 20rem;
  }
}

@media (max-width: 1000px) {
  .storyImageSingle {
    height: 25rem;
    grid-column: 1/ -1;
  }

  .storyImagesContainer {
    grid-row: span 2;
  }

  /* .img1 {
    top: 2rem;
    left: 10rem;
  }

  .img2 {
    bottom: 0;
  } */

  .sidebarImage {
    display: none;
  }

  /* .sidebarImg {
    width: 10rem;
  } */

  /* .storyContent {
    grid-template-columns: repeat(10, 1fr);
    margin: 0 0.5rem;
  } */
}

@media (max-width: 850px) {
  .storyImagesBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    max-width: 100%;
    padding: 1rem;
    flex-wrap: wrap;
  }
  /*
  .storyImageSingleBottom {
    min-height: 20rem;
    max-width: 100%;
  } */

  .img8 {
    position: relative;
    margin-right: 0.5rem;
    left: 0rem;
  }
}

@media (max-width: 650px) {
  .storyImageSingle {
    height: 15rem;
  }
  .storyBtnLink {
    font-size: 2rem;
  }
}

.storyImagesContainer {
  grid-row: 2;
}

.storyImagesBottom {
  grid-column: 2/9;
  grid-row: 4;
}

@media (max-width: 50rem) {
  .img8 {
    height: 20rem;
  }
}

@media (max-width: 390px) {
  .img8,
  .img9,
  .img10 {
    display: none;
  }

  .storyImagesBottom {
    border-radius: 1rem;
    height: 30rem;
    width: 30rem;
    background-image: url('../Images/SitePhotos/IMG_9904.JPG');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
