.contentWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.accordion {
  width: 60rem;
}

.item {
  background: var(--main-secondary-color);
  margin-bottom: 0.5rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.title {
  color: var(--main-text-color);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  font-family: 'Forum';
  font-weight: 700;

  font-size: 2rem;
}
.iconActive {
  transform: rotate(0deg);
}

.iconInactive {
  transform: rotate(405deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  font-family: 'Forum', sans-serif;
  font-size: 2.8rem;

  color: #333;
}

.content.show {
  height: auto;
  max-height: 999rem;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}

.link {
  font-size: 3rem;
  color: blue;
  font-family: 'Forum', sans-serif;
  transition: 0.3s all;
}

.link:hover {
  transform: scale(0.2);
  color: rgba(0, 0, 0, 0.3);
}
