.travelContainer p {
  font-family: 'Lato';
  font-size: 1.6rem;
}

iframe {
  border-radius: 0.5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
}

.heading h2 {
  font-family: 'Forum', sans-serif;
}

.heading h2 {
  font-size: var(--heading-font-size);
  font-family: 'Forum', sans-serif;
  font-weight: 300;
}

.directions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: calc(50% - 2rem); */
  padding: 4rem 0;
  gap: 2rem;
}

.directionsDetailsList {
  list-style: none;
}

.directionsDetailsItem {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.directionsDetailsItem:before {
  content: '\2022';
  color: var(--main-primary-color);
  font-weight: bold;
  display: inline-block;

  margin: 0 0.5rem 0 -1rem;
}

.directionsImage {
  display: flex;
  flex-direction: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotels p {
  font-size: 1.2rem;
}

.directionsImage img {
  height: 25rem;
  max-width: 90vw;
  border-radius: 0.5rem;
}

.directionsDetails {
  padding: 2rem;
  border: 3px solid var(--main-secondary-color);
  width: 30rem;
  margin: 2rem 0;
}

.hotels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
  /* width: calc(50% -1rem); */
  padding: 4rem 0;
}

.hotelsImage {
  height: 20rem;
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.5s all;
  margin: 0 auto;
}

.hotelsImage:hover {
  /* filter: saturate(1.5); */
  filter: sepia(50%);
  /* transform: scale(1.5); */
}

.todo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  gap: 4rem;

  padding: 4rem 0 8rem 0;
}

.todoDetails {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 50rem;
  height: 100%;
  margin: 0 1rem;
  border: 3px solid var(--main-secondary-color);
}

.todo img {
  height: 50rem;
  width: 75rem;
}

.todoDetails p {
  margin: 1rem;
}

.todoImage {
  align-self: flex-start;
  height: 40rem;
  width: 40rem;
  border-radius: 0.5rem;
  margin: 0 1.5rem;
}

@media (max-width: 800px) {
  .todo img {
    height: 90%;
    max-width: 90vw;
  }
}
