.contacts_main {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0rem;
}
.heading {
  /* font-size: 3rem; */
  /* margin: 10rem 0; */
}

.headerImg {
  height: 70vh;
  width: 100%;
  background-image: url(../Images/WeddingPartyPhotos/WeddingPartyCollage.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: var(--main-secondary-color);

  z-index: -1;
  font-family: 'Forum', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerImg h2 {
  background-color: rgba(247, 231, 207, 0.75);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

h3 {
  font-size: 3.5rem;
}

.contacts_container {
  height: 100%;
  background-color: var(--main-bg-color);
  display: grid;
  padding: 12rem 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  color: var(--main-text-color);
  gap: 2rem;
  text-align: center;
  /* justify-content: space-evenly;
  justify-items: center;
  flex: 10rem;
  flex-wrap: wrap; */
}

.contacts_heading {
  grid-row: 1;
  grid-column: 1/ -1;
  font-size: var(--heading-font-size);
  font-family: 'Forum', sans-serif;
}

.contacts_bottom {
  background: linear-gradient(
    to right,
    var(--main-primary-color),
    var(--main-secondary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.05);
  grid-row: 7;
  grid-column: 1/-1;
  font-size: 2.5rem;
  font-family: 'Forum', sans-serif;
  font-weight: 700;
  padding: 1rem;
  margin: 0 1rem;
}

@media (max-width: 850px) {
  h3 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .contacts_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .headerImg {
    background-size: contain;
    background-position: center;
    overflow: hidden;
  }
}

@media (max-width: 1000px) {
  .headerImg {
    height: 60vh;
  }
}
@media (max-width: 900px) {
  .headerImg {
    height: 55vh;
  }
}

@media (max-width: 800px) {
  .headerImg {
    height: 50vh;
  }
}
@media (max-width: 700px) {
  .headerImg {
    height: 40vh;
  }
}

@media (max-width: 600px) {
  .headerImg {
    height: 35vh;
  }
}

@media (max-width: 500px) {
  .headerImg {
    height: 30vh;
  }
  .headerImg h2 {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .headerImg {
    height: 25vh;
  }

  .headerImg h2 {
    font-size: 2.2rem;
  }
}
