.contacts_main {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0rem;
}
.heading {
  /* font-size: 3rem; */
  /* margin: 10rem 0; */
}

h3 {
  font-size: 3.5rem;
}

.contacts_container {
  height: 100%;
  background-color: var(--main-bg-color);
  display: grid;
  padding: 10rem 0;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  color: var(--main-text-color);
  gap: 2rem;
  text-align: center;
  /* justify-content: space-evenly;
  justify-items: center;
  flex: 10rem;
  flex-wrap: wrap; */
}

.contacts_heading {
  grid-row: 1;
  grid-column: 1/ -1;
  font-size: 3rem;
  font-family: 'Forum', sans-serif;
}

@media (max-width: 850px) {
  h3 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .contacts_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
