.btn:hover {
  font-size: 2.2rem;
  outline: 1px solid #fff;
  background-color: #d8cbb7;
}

.btn:active {
  transform: translateY(0.3rem);
}

.btn {
  color: white;
  font-family: 'Lato';
  background-color: var(--main-secondary-color);
  border-radius: 0.4rem;
  font-size: 2rem;
  cursor: pointer;
  border: 1px solid var(--main-secondary-color);
  padding: 0.5rem 1rem;
  transition: 0.3s all;
  margin: 0 0.5rem;
  box-shadow: 0.5rem -0.5rem 0.3rem rgb(0, 0, 0, 0.5);
}
