.card {
  height: auto;
  width: 25rem;
  background-color: var(--main-secondary-color);
  margin: 3rem 0;
  padding: 0.5rem;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 0 1rem rgb(0, 0, 0, 0.4);

  align-items: center;
  flex-direction: column;
  gap: 3rem;

  border-radius: 10px;

  transition: all 0.2s;
}

.card:hover {
  transform: translateY(5px);
}

.card * {
  margin: 1rem;
}

.role {
  font-size: 1.4rem;
  color: var(--main-text-color);
}

.intro {
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 2rem;
}
