.main-container h2 {
  text-align: center;
  font-family: 'Forum';
  font-size: 4rem;
  grid-row: 1;
  grid-column: 1/ -1;
  width: auto;
}

h2 span {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 1.8rem;
}

h3 {
  font-family: 'Forum';
  font-size: 5rem;
}

.main-container {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: auto repeat(2, 50rem) auto;
  grid-gap: 4rem;
}
/* 
.section-img {
  height: 100%;
} */

.section-1 {
  display: grid;
}

/* .section-1 .section-img {
  grid-column: 2/4;
  grid-row: 4/6;
} */

.imgBox {
  width: 60rem;
  aspect-ratio: 3/2;
  overflow: hidden;
}

.img-container1Outer {
  grid-column: 2/6;
  grid-row: 2/4;
  border-radius: 1rem;
}

.img-container1Inner img {
  height: 100%;
  width: 100%;

  transition: 0.7s all;
}

.img-container1Inner img:hover {
  transform: scale(1.1);
}

.text-container1 {
  text-align: center;
  align-self: center;
  justify-self: center;
  align-items: center;
  grid-column: 6/ -1;
  grid-row: 2/3;
}

.text-container1 p {
  margin: 1rem 0;

  width: 30rem;
  font-family: 'Lato';
  font-size: 2.5rem;
}

.img-container2Outer {
  grid-column: 9/11;
  grid-row: 3/4;
  border-radius: 1rem;
}

.img-container2Inner:hover {
  transform: scale(1.1);
}

.img-container2Inner {
  transition: 0.7s all;
}

.img-container2Inner img {
  height: 100%;
  width: 100%;
}

.text-container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-column: 3/5;
  grid-row: 3;
  align-self: center;
}

.text-container2 h3 {
  text-align: center;
  font-size: 3rem;
}

.text-container2 p {
  margin: 1rem 0;
  text-align: center;

  width: 45rem;
  font-family: 'Lato';
  font-size: 2.5rem;
}
/* 
.img-container3 {
  grid-column: 3/5;
  grid-row: 10/12;
} */

.text-container3 {
  grid-column: 10/12;
  grid-row: 6/8;
}

.rsvpImgContainer {
  grid-row: 4/5;
  grid-column: 2/14;
}

.imgContainer3Flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgContainer3Outer {
  height: 60vh;
  width: 90vw;
  margin: 3rem 0;
  overflow: hidden;
  border-radius: 1rem;
}

.imgContainer3Inner {
  background-color: var(--main-secondary-color);
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: center;
  align-items: center;

  background-image: url(../Images/SitePhotos/IMG_8016.jpg);
  background-size: cover;
  background-position: 20% 20%;

  /*   
  grid-row: 4/5;
  grid-column: 2/16;
  overflow: hidden; */

  transition: all 3s;
}

.imgContainer3Outer:hover .imgContainer3Inner,
.imgContainer3Outer:focus .imgContainer3Inner {
  transform: scale(1.2);
}

.mainBtn {
  font-family: 'Lato';
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: var(--main-secondary-color);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 2.2rem;
  transition: all 0.3s;
  text-decoration: none;
}

.mainBtn:hover {
  filter: brightness(0.95);
}

/* @media (orientation: landscape) and (min-width: 45rem) {
  .imgContainer3Outer {
    height: 100vh;
  }
} */

@media screen and (max-width: 1350px) {
  /*make this webpage responsive */

  .main-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
  }

  .text-container1 p,
  .text-container2 p {
    font-size: 1.8rem;
  }

  /* .img-container1Inner img {
    height: 40rem;
  } */

  /* .img-container2Inner {
    grid-column: 2/10;
  } */

  .img-container1Outer,
  .img-container2Outer {
    max-width: 90vw;
  }

  /* .imgContainer3Outer {
    grid-row: 4/5;
    grid-column: 2/16;
    display: block;
  } */

  .imgContainer3Outer {
    height: 50rem;
  }
}

@media screen and (max-width: 750px) {
  .imgContainer3Outer {
    height: 30rem;
  }
}

@media screen and (max-width: 650px) {
  /* .img-container1Outer {
    height: 20rem;
  } */

  .img-container2 img {
    height: 30rem;
  }

  .mainBtn {
    font-size: 2rem;
  }

  .text-container2 p {
    width: 35rem;
  }
}

@media screen and (max-width: 450px) {
  .img-container1 img {
    height: 25rem;
  }

  iframe {
    width: 30rem;
  }

  .img-container2 img {
    height: 25rem;
  }

  .imgContainer3Outer {
    height: 20rem;
  }

  .mainBtn {
    padding: 0.5rem 0.5rem;
    font-size: 1.6rem;
  }
}
