.nav-container {
  display: flex;
}
.nav {
  position: fixed;
  width: 100%;
  font-weight: 700;
  z-index: 2;
  background-color: #c1d0b5;
  font-family: 'Lato', sans-serif;
  font-size: 1.7rem;
  display: flex;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-logo {
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.nav-item {
  /* margin: 1.5rem 2rem; */
  list-style: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem;

  transition: 0.3s all;
}

.nav-link:hover {
  filter: brightness(0.8);
}

.logo {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0.5rem;
}

.btn {
  font-weight: 700;
  border: none;
  background-color: #b08a50;
  color: white;
  padding: 0.25rem 0.5rem;
  height: 3rem;
  width: 9rem;
  border-radius: 20px;
  cursor: pointer;
}

.hamburger {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  /* width: 3rem;
  height: 2.1rem; */
  cursor: pointer;
}

@media (max-width: 850px) {
  .nav {
    /* flex-direction: column; */
    display: block;
    align-items: flex-start;
    width: 100%;
    /* background-color: orange; */
  }

  .hamburger:hover {
    background-color: red;
  }

  .hamburger:active {
    transform: translateY(2px);
  }

  .nav-link {
    /* display: flex; */
    /* width: 100%; */
  }
  .nav-link:active {
    /* display: flex; */
  }

  .nav-list {
    width: 100%;
    flex-direction: column;
    z-index: 2;
  }

  .nav-item:active {
    display: flex;
  }

  .nav-item {
    text-align: center;
    padding: 0.5rem 1rem;
  }
}
