.galleryWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  /* max-width: 62rem; */
  margin: 0 auto;

  height: auto;
  padding: 20rem 0 10rem 0;
}

.galleryWrap .single {
  width: 40rem;
  height: 30rem;
  cursor: pointer;
}

.galleryWrap .single img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;

  transition: 0.2s all;

  /* margin: 0 2rem; */
}

.galleryWrap .single img:hover {
  transform: scale(1.05);
}

.sliderWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sliderWrap .btnClose,
.sliderWrap .btnPrev,
.sliderWrap .btnNext {
  position: fixed;
  cursor: pointer;
  opacity: 0.6;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1.2rem;
  color: var(--main-secondary-color);
}

.btnNext:hover,
.btnPrev:hover,
.btnClose:hover {
  opacity: 1;
}

.sliderWrap .btnPrev {
  top: 50%;
  transform: translateY(-50%);
  left: 4rem;
}

.sliderWrap .btnNext {
  top: 50%;
  transform: translateY(-50%);
  right: 4rem;
}

.sliderWrap .btnClose {
  top: 6rem;
  right: 4rem;
}

.fullScreenImage {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullScreenImage img {
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 2rem;
}

@media (max-width: 500px) {
  .sliderWrap .btnClose,
  .sliderWrap .btnPrev,
  .sliderWrap .btnNext {
    font-size: 3rem;
  }
}
